# keep in alphabetical order
dm_control
h5py
omegaconf==2.3.0
Pillow
pin==3.7.0
pygame
pyspacemouse
PyQt6
pyquaternion
pyrealsense2
pyzmq
pure-python-adb
numpy-quaternion
quaternion
setuptools
termcolor
tyro
ur-rtde
xarm
xarm-python-sdk
zmq
